body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 35px;
}

main {
  display: flex;
}

main > * {
  padding: 30px 30px;
}

#navbar {
  border-right: solid 1px rgb(193, 193, 193);
  flex-basis: 30%;
}

header {
  font-size: 26px;
}
